@model Newspaper.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleMan.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleMan.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Service.ServiceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Service.ServiceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qunatity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qunatity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AltEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AltEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gprslatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gprslatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GprsLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GprsLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaperDispatchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaperDispatchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NepaliDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NepaliDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
