@model Newspaper.Models.ViewModel.AreaRegister

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #tdd;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>





<div>

    <br />
    <div class="col-md-7 col-lg-offset-3">
        <br />
        <p>
            @Html.ActionLink("सबै क्षेत्रनिर्धारणहरु ", "Index", "", new { @class = "btn btn-info",title="Back To Index Page" })
        </p>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><center><h4>क्षेत्रनिर्धारणको जानकारी  </h4></center></h1>
            </div>

            <div class="panel-body">
                <div style="overflow-x:auto;">
                    <table class="table table-bordered">
                        <tr>
                            <th>
बिक्र्यताको पुरा नाम
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.SaleMan.FullName)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                क्षेत्र
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Area)
                            </td>
                        </tr>
                        <tr>

                            <th>
                                टिप्पणी
                            </th>

                            <td>

                                @Html.Raw(Model.Comment)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.EditedBy)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.EditedBy)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedBy)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.ModifiedBy)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>

  
