@model IEnumerable<Newspaper.Models.ViewModel.AccountantVM>
@{
    ViewBag.Title = "ViewAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br/>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title"><center><h4>ग्राहकको इतिहास </h4></center> </h1>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <label>ग्राहकको Id</label>:<font class="nepalifont" style="font-size:20px;">@Model.FirstOrDefault().Customer.CustomerId</font><br />

                <label>ग्राहकको नाम</label>:<font class="nepalifont" style="font-size:20px;"> @Model.FirstOrDefault().Customer.FirstName</font><br />

                <label>फोन नं</label> :<font class="nepalifont" style="font-size:20px;"> @Model.FirstOrDefault().Customer.MPhone</font><br />
                <label>इमेल</label> : @Model.FirstOrDefault().Customer.Email<br />
                @*<label>cusid</label> :<font class="nepalifont" style="font-size:20px;"> @Model.FirstOrDefault().Customer.CustomerId</font><br />*@
                <label>समाप्त मिति</label> :@StringToUnicode(Model.FirstOrDefault().ServiceAssign.EndedDate.ToShortDateString())<br />
                <label>बितरकको नाम</label> :<font class="nepalifont" style="font-size:20px;"> @Model.FirstOrDefault().SalesMan.FullName</font><br />
                <div class="col-md-8 col-md-offset-2">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                पत्रिकाको नाम
                            </th>
                            <th>
                                बिल नं
                            </th>
                            <th>
                                चेक
                            </th>
                            <th>
                                नगद
                            </th>
                            <th>
                                रकम
                            </th>
                            <th>
                                छुट
                            </th>
                            <th>भुक्तानी मिति </th>

                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="nepalifont" style="font-size:20px;">
                                    @item.Service.NewsPaperName
                                </td>
                                <td class="nepalifont" style="font-size:20px;">
                                    @item.Account.BillNo
                                </td>
                                <td class="nepalifont" style="font-size:20px;">
                                    @item.Account.BankName, @item.Account.BankAcc
                                </td>


                                <td>
                                    @if (string.IsNullOrEmpty(item.Account.BankName) && string.IsNullOrEmpty(item.Account.BankAcc))
                                    {
                                        <label>Cash</label>
                                    }
                                </td>

                                <td>
                                    @StringToUnicode(item.Account.Amount.ToString())
                                </td>
                                <td>
                                    @StringToUnicode(item.Account.DiscountAmount.ToString())
                                </td>
                                <td>@StringToUnicode(item.Account.Nepalidate.ToString())</td>

                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@helper StringToUnicode(string data)
{
    string uni = "";
    foreach (char c in data)
    {
        var charCode = "U+" + ((int)c).ToString("X4");
        switch (charCode)
        {
            case "U+0030":
                uni += "०";
                break;
            case "U+0031":
                uni += "१";
                break;
            case "U+0032":
                uni += "२";
                break;
            case "U+0033":
                uni += "३";
                break;
            case "U+0034":
                uni += "४";
                break;
            case "U+0035":
                uni += "५";
                break;
            case "U+0036":
                uni += "६";
                break;
            case "U+0037":
                uni += "७";
                break;
            case "U+0038":
                uni += "८";
                break;
            case "U+0039":
                uni += "९";
                break;
            default:
                uni += c;
                break;
        }
    }
    @uni
}
@helper CheckZero(decimal data)
{
    if (data == 0)
    {
        @StringToUnicode("0.00")
    }
    else
    {
        @StringToUnicode(data.ToString())
    }
}

