@model List<Newspaper.Models.ViewModel.AddedCustomerVM>
@{
    ViewBag.Title = "ExpiredCustomerBydate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}





<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }


    .btn {
        background-color: mediumblue;
        border: none;
        color: white;
        padding: 8px 16px;
        font-size: 16px;
        cursor: pointer;
    }


        .btn:hover {
            background-color: RoyalBlue;
        }
    /*body
    {
        counter-reset: Serial;
    }
        table.auto-index td:first-child:before
    {
      counter-increment: Serial;
      content:  counter(Serial);
    }*/
</style>
<div id="ExpReport">

    <img src="~/img/patrika logo.jpg" align="left" height="150" width="150" />

    <br />
    <h5 style="text-align:right">चलानी न:-..................</h5>


    <h1 style="margin-left:275px;"><b> गोरखापत्र संस्थान </b></h1>





    <h5 style="text-align:right;">मिति :-@StringToUnicode(Model[0].NepaliDate.ToString()) </h5>
    @*<b>Branch Name : @Model[0].branch</b>*@
    <h3 style="margin-left:350px;"><b><u>बन्द  ग्राहकहरु   </u></b></h3><br />
    @*<h3 style="text-align:center;"><b><u>बन्द ग्राहकहरु   </u></b></h3><br />*@
    <h4 style="text-align:left">श्री बितरण शाखा,</h4>
    <h5 style="margin-left:112px">निम्न लिखित ग्राहकहरुलाई टोकिएका पत्रीकाहरु पठाउन बन्द गरिएको बेहोरा जानकारी गरिन्छ । </h5>
    @{ int i = 1;}
    @*<table class="auto-index" border="1px solid black">*@
    <table class="table table-bordered" id="myTable">

        <tr>
            <th style="width:5px">क.स</th>
            <th style="width:200px"> ग्राहकको नाम , ठेगाना , फोन न: </th>
            <th style="width:15px">कार्ड न:</th>
            <th style="width:55px">पत्रीकाको नाम</th>
            <th style="width:30px">समाप्त मिति </th>
            <th style="width:55px">कैफियत</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>@StringToUnicode(i.ToString())</td>
                <td class="nepalifont" style="font-size:20px;">@item.FirstName &nbsp;,&nbsp;@item.Address,&nbsp; @item.MPhone</td>

                <td class="nepalifont" style="font-size:20px;">@item.CustomerId</td>
                <td class="nepalifont" style="font-size:20px;">@item.NewsPaperName</td>

                <td> @StringToUnicode(item.enddate.ToString()) </td>
                <td class="nepalifont" style="font-size:20px;">@item.SalesMan</td>


            </tr>
            i = i + 1;
        }

    </table>


    <br />
    <br />
    <div style="width:100%;">
        <span style="width:50%;  float:left;">
            <label><br />.......................<br />बुझिलिनेको सही  <br /> बितरण शाखा</label>
        </span>
        <span style="width:50%; text-align:right; float:right;">
            <label>भवदिय<br /><br />.......................<br />सुल्क  शाखा</label>
        </span>
    </div>
</div>

<br />
<center><button class="btn btn-default" id="btnPrint"><i class="fa fa-print"></i> Print</button></center>
<br />



@helper StringToUnicode(string data)
{
    string uni = "";
    foreach (char c in data)
    {
        var charCode = "U+" + ((int)c).ToString("X4");
        switch (charCode)
        {
            case "U+0030":
                uni += "०";
                break;
            case "U+0031":
                uni += "१";
                break;
            case "U+0032":
                uni += "२";
                break;
            case "U+0033":
                uni += "३";
                break;
            case "U+0034":
                uni += "४";
                break;
            case "U+0035":
                uni += "५";
                break;
            case "U+0036":
                uni += "६";
                break;
            case "U+0037":
                uni += "७";
                break;
            case "U+0038":
                uni += "८";
                break;
            case "U+0039":
                uni += "९";
                break;
            default:
                uni += c;
                break;
        }
    }
    @uni
}
@helper CheckZero(decimal data)
{
    if (data == 0)
    {
        @StringToUnicode("0.00")
    }
    else
    {
        @StringToUnicode(data.ToString())
    }
}

@*<center><button class="btn" id="btnConvertWord"><i class="fa fa-file-word-o"></i> Download Word</button></center>*@


@*<script src="~/Scripts/jQuery.min.js"></script>*@
@*<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>*@
@*<script src="~/Scripts/googoose.js"></script>*@

@*
    <script type="text/javascript" src="http://github.com/aadel112/googoose/js/jquery.googoose.js"></script>*@
@section Scripts{
    <script type="text/javascript">


        $(document).ready(function () {


            $("#btnConvertWord").click(function (event) {
                $(document).googoose({
                    area: '#ExpReport'
                    // filename: "Expired_Report.doc",
                    //size: '11.69in 8.26in',
                    //headermargin: '.01in',
                    //footermargin: '.01in'
                });
            });


            $("#btnPrint").click(function (e) {
                PrintElem("ExpReport");
            });
        });

        function PrintElem(elem) {
            var mywindow = window.open('', 'PRINT', 'height=842,width=590');

            mywindow.document.write('<html><head><style> .nepalifont{font-family:Preeti} table {border-collapse: collapse;width: 100%;border: 1px solid ;}th, td {text-align: left;padding: 8px; border: 1px solid ;}tr:nth-child(even){background-color: #f2f2f2;}</style><title></title>');
            mywindow.document.write('</head><body >');
            mywindow.document.write(document.getElementById(elem).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }




    </script>


}