
@{
    ViewBag.Title = "SelectDate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm("ExpiredCustomerBydate", "Report", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <br />
    <div class="col-md-6 col-lg-offset-3">
        <div class="panel panel-primary ">
            <div class="panel-heading">

                <h1 class="panel-title"><center><h4> समाप्त ग्राहक  </h4></center></h1>
            </div>

            <div class="panel-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-danger">@TempData["message"]</div>
                }

                <div class="col-md-7">
                    <div class="form-group">
                        <label>मिति तय गर्नुहोस </label>

                        @Html.TextBox("NepDate", null, new { id = "txtNepDate", @class = "form-control", @required = true })

                        @Html.Hidden("EndedDate", "", new { id = "txtEndedDate" })
                    </div>
                </div>
                @*@if (Session["Category"].ToString() == "SuperAdmin")
                {
                    <div class="col-md-7" id="divBranch">
                        <div class="form-group">
                            <label>Branch</label>

                            @Html.DropDownList("BranchId", null, "--Select Branch---", htmlAttributes: new { @class = "form-control" })

                        </div>

                    </div>
                }*@
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="खोज्नुहोस " class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.10.1.custom.min.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/bootstrap/nepali.datepicker.v2.2.min.css" rel="stylesheet" />
    <script src="~/bootstrap/nepali.datepicker.v2.2.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function () {


            //    $('#txtRegisterDate').datepicker();


            $('#txtNepDate', 'body').nepaliDatePicker({

                onChange: function () {
                    $('#txtNepDate').val();
                    $('#txtEndedDate').val(BS2AD($('#txtNepDate').val()));
                },
                npdMonth: true,
                npdYear: true
            });
        });

    </script>
}










