@model IEnumerable<Newspaper.Models.Customer>

@{
    ViewBag.Title = "InActiveUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    fieldset {
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px solid black;
    }

    legend {
        width: auto;
        border: 1.5px solid black;
    }
</style>
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title"><center><h4>Inactive Customer</h4></center></h1>
    </div>

    <div class="panel-body">
        <div style="overflow-x:auto;">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Full Name
                    </th>
                    <th>
                        NewsPaperName
                    </th>
                    <th>
                        Phone
                    </th>

                    <th>
                        Address
                    </th>


                    <th>Days Remaining</th>

                    <th>
                        @Html.DisplayNameFor(model => model.CustomerInfo)
                    </th>

                    <th>
                        Action
                    </th>
                </tr>

                @foreach (var item in Model)
                {

                    <tr class="danger">
                        <td>
                            @item.FirstName &nbsp; @item.MiddleName &nbsp; @item.LastName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Service.NewsPaperName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MPhone)
                        </td>


                        <td>
                            @item.Address
                        </td>


                        @if ((item.EndedDate - DateTime.Now).Days < 0)
                        {
                            <td>

                                expired @((DateTime.Now - item.EndedDate).Days) days ago
                            </td>
                        }
                        else
                        {
                            <td>
                                @((item.EndedDate - DateTime.Now).Days)
                            </td>
                        }


                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerInfo)
                        </td>

                        <td>
                            
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                            @Html.ActionLink("ReNew", "Renew", new { id = item.Id }, new { @class = "btn btn-warning" })

                        </td>
                    </tr>

                }

            </table>
        </div>
    </div>
</div>

